.add_mcq_child{
    padding: 0 1rem !important;
    z-index: -1;
}
.add_mcq_main{
    background: #F5F3F9;
    min-height: 100vh;
}
.add_mcq_child h1{
    margin-bottom: 50px;
}
.mcqDisplay{
    margin-top: 10px;
    border: 1px solid #a9a9a9;
    width: 100% !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 0 !important;
}
.mcqDisplay p{
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 0;
    font-size: .8rem;
    font-weight: 500;
}
.mcqDisplay__button{
    margin-left: 20px;
}
.mcqDisplay__correct{
    color: green;
    transform: scale(1.2);
    margin-right: 5px;
}
.mcqDisplay__delete{
    color: red;
    transform: scale(1.2);
    margin-left: 5px;
    margin-right: 5px;
}
.MuiSvgIcon-root{
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}
.mcq_selected{
    background: lightgreen ;
}
.mcqs button{
    background-color: var(--primary);
    border: none;
    outline: none;
}
.mcqs button:focus{
    outline: none;
}
.form-control{
    box-shadow: none !important;
    border: .1px solid rgba(0,0,0,0.4) !important;
    border-radius: 0 !important;
    font-size: 15px !important;
}
input:focus, textarea:focus{
    outline: none !important;
    box-shadow: none !important;
    background: rgba(0,0,0,.05) !important;
}
.mcqs_list_main button{
	background-color:#0698bd;
    outline: none !important;
    padding: 8px !important;
    border: 3px solid #fff;
    border-radius: 30%;
    margin: 2px 0 !important;
    font-size: 13px;
    text-align: center;
}
.topicDisplay{
    margin: 5px 0;
    border: 1px solid #a9a9a9;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    position: relative;
}
.topicDisplay p{
    word-wrap: break-word;
    font-size: 15px;
    width: 70%;
    margin: 0 10px;
}
.topicDisplay .delete_topic{
    position: absolute;
    top: 3px;
    right: 7px;
    cursor: pointer;
    color: red;
}