.add_board_main{
    background-color: #e4e4e494;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add_board_child{
    width: 70%;
    background-color: #fff;
    padding: 10px 0;
    -webkit-box-shadow: 2px 3px 5px 6px #ccc; 
    -moz-box-shadow:    2px 3px 5px 6px #ccc;  
    box-shadow:         2px 3px 5px 6px #ccc;
}
form.board_form{
    width: 60% !important;
}
.mybutton {
	border: none !important;
	display:inline-block;
	cursor:pointer;
    color:#ffffff !important;
    padding:7px 25px !important;
    border-radius: 5px !important;
    position: relative;
    top: -2px;
}
.mybutton:hover {
    position: relative;
    top: 0;
}
.mybutton:active {
	position:relative;
    top: 3px;
    box-shadow: none !important;
}
.datepicker_main .react-datepicker-wrapper{
    width: 100%;
}
.datepicker_main .react-datepicker-wrapper input {
    user-select: none;
}