.add_board_main{
    background-color: #e4e4e494;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add_board_child{
    width: 70%;
    background-color: #fff;
    min-height: 85vh;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
    margin: 50px 0;
    padding: 30px 0;
}
form.board_form{
    width: 60% !important;
}
.mybutton {
	background:linear-gradient(to bottom, #0698bd 5%, #00c4ff 100%);
	background-color:#0698bd;
	border: none !important;
	display:inline-block;
	cursor:pointer;
    color:#ffffff !important;
    font-weight: bolder;
	font-size:17px;
    padding:10px 25px !important;
    outline: none !important;
    border-radius: 0 !important;
	text-decoration:none;
    position: relative;
    top: -2px;
}
.mybutton:hover {
	background:linear-gradient(to bottom, #00c4ff 5%, #0698bd 100%);
    background-color:#00c4ff;
    position: relative;
    top: 0;
}
.mybutton:active {
	position:relative;
    top: 3px;
    box-shadow: none !important;
}
.datepicker_main .react-datepicker-wrapper{
    width: 100%;
}
.datepicker_main .react-datepicker-wrapper input {
    user-select: none;
}
.mcqs_list_main{
    z-index: 99;
    background-color: white;
    max-height: 90vh;   
    position: fixed !important;
    bottom: 0;
    left: 20px;
    padding-left: 5px;
    padding-right: 25px;
    width: 100%;
    overflow-x: scroll;
    word-wrap: normal;
    white-space: nowrap;
}
.mcqs_list_main::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
.mcqs_list_main::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
.mcqs_list_main::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
.mcqs_list_main::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
.mcqs_list_main button{
    background:linear-gradient(to bottom, #0698bd 5%, #00c4ff 100%);
	background-color:#0698bd;
    border: none;
    outline: none;
    wdith: 100%;
    padding: 10px 0 !important;
    margin: 0 3px !important;
    text-align: center;
}

@media (max-width: 768px){
    .add_board_child{
        width: 80%;
    }
    form.board_form{
        width: 80% !important;
    }
    .all_mcq_operations_button{
        display: grid;
    }
}

@media (max-width: 425px){
    .add_board_child{
        width: 85% !important;
    }
    form.board_form{
        width: 100% !important;
        
    }
    .board_titile{
        font-size: 30px !important;
    }
}