/* Css Variables */
.Admin_Sidebar{
    width: 220px;
    height: 100vh;
    background-color: black;
    position: fixed;
    left: -220px;
    z-index: 99;
    transition: .3s ease-in-out;
}
.sidebar_ul{
    margin: 0 !important;
    padding: 0 !important;
    width: 219px;
}
.sidebar_ul li{
    list-style-type: none;
}
.sidebar_ul li a{
    margin-top: 10px;
    padding: 12px 20px;
    background-color: aqua;
    display: flex;
    align-items: center;
    border-left: 10px solid rgba(0, 0, 0, .5);
    font-weight: bold;
}
.sidebar_ul li a:hover{
    text-decoration: none;
}
.sidebar_ul li a svg{
    margin-right: 15px !important;
    font-size: 20px;
}
.Admin_Sidebar svg.sidebar_open_icon{
    position: absolute !important;
    right: -25px;
    font-size: 40px;
    color: black;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.open_sidebar{
    left: 0;
}